[project]
name = "search"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "psutil>=7.1.3",
]

[dependency-groups]
dev = [
    "psutil>=7.1.3",
    "pytest>=9.0.1",
]
